In [10]:
import pandas as pd
df = pd.read_csv('plotting.csv')

feb_df = df[df['sampling_bout'] == 'Feb_24']
feb_df = feb_df.iloc[:, 12:]
feb_df

aug_df = df[df['sampling_bout'] == 'Aug_23']
aug_df = aug_df.iloc[:,12:]
aug_df

,Atl_croaker_(nibea98),Bay_anchovy,Black_drum_or_Spot,Black_sea_bass,Brd_striped_anchovy,Little_tunny_or_skipjack_tuna,Nor_sea_robin,Scup,Smallmouth_flounder,Southern_kingfish(nibea95),...,Latitude,Surface_Temp,Bottom_Temp,Surface_Salinity,Bottom_Salinity,temp_strat,salt_strat,tSNE1,tSNE2,cluster
0,0.020177,0.009888,0.019700,0.085628,0.007203,0.007127,0.752152,0.017693,0.000452,0.004567,...,39.769483,23.452717,14.988620,31.562784,32.429375,8.464097,0.866592,3.190962,5.781725,1
1,0.044937,0.020751,0.012989,0.029528,0.013369,0.001347,0.667796,0.041293,0.008777,0.004535,...,39.753667,22.500439,16.974112,31.797065,32.248938,5.526328,0.451874,2.794010,5.067336,1
2,0.063512,0.015948,0.066177,0.039838,0.022919,0.000000,0.576924,0.013186,0.000000,0.000000,...,39.963067,23.541773,18.550107,29.348635,32.036490,4.991666,2.687855,2.964297,4.202396,1
3,0.027997,0.012325,0.038488,0.068898,0.000000,0.000000,0.675720,0.014191,0.008946,0.000000,...,40.119717,23.078181,13.831904,27.754786,32.357743,9.246277,4.602956,2.162945,4.958118,1
4,0.010589,0.000260,0.038299,0.136186,0.002449,0.000000,0.612125,0.005666,0.008870,0.000000,...,40.182917,23.109864,13.227531,27.159900,32.245659,9.882333,5.085759,3.569786,4.753086,1
5,0.153285,0.000523,0.136674,0.017557,0.003785,0.000000,0.093963,0.059521,0.010510,0.000000,...,40.459550,22.593075,19.955991,27.852780,31.373329,2.637083,3.520548,-1.846206,0.070151,2
6,0.138364,0.000000,0.179569,0.046318,0.008410,0.000000,0.201158,0.053128,0.023012,0.000000,...,40.381100,23.175618,14.927324,25.988238,32.429643,8.248295,6.441405,1.529853,-1.974882,2
7,0.111078,0.005177,0.246555,0.049718,0.008375,0.000000,0.124836,0.106143,0.006074,0.000368,...,40.264000,23.419757,14.115696,26.853986,32.151421,9.304061,5.297435,2.184716,-2.418271,2
8,0.049379,0.022558,0.051916,0.050567,0.009822,0.000000,0.113168,0.023314,0.006476,0.006962,...,40.094200,23.289298,17.424392,27.416268,31.699372,5.864906,4.283105,0.182989,-7.025391,3
9,0.164526,0.044229,0.112278,0.069407,0.016439,0.000000,0.233268,0.064478,0.023713,0.015480,...,39.858450,23.388540,19.455860,30.892972,32.000785,3.932680,1.107814,1.111000,-1.520215,2
10,0.099289,0.079909,0.071104,0.028825,0.000000,0.000000,0.177427,0.038663,0.103446,0.005755,...,39.804433,22.612662,20.008600,31.654834,31.975569,2.604062,0.320735,0.386194,-2.134901,2
11,0.239037,0.062485,0.079227,0.125848,0.005206,0.000000,0.127848,0.060458,0.016865,0.000000,...,39.778867,22.612662,20.008600,31.654834,31.975569,2.604062,0.320735,1.035985,-3.271962,2
12,0.142499,0.118620,0.092144,0.026224,0.000000,0.000000,0.274249,0.060455,0.001299,0.089438,...,39.625600,21.799726,18.631058,31.909412,32.105937,3.168668,0.196525,1.547451,-0.576946,2
13,0.231939,0.180323,0.099680,0.028089,0.015565,0.000000,0.050131,0.036337,0.057332,0.023482,...,39.334600,20.923497,17.992498,31.809647,31.909341,2.930999,0.099694,1.057962,-3.927794,3
14,0.036179,0.058059,0.142275,0.007835,0.127933,0.000000,0.023843,0.010170,0.004215,0.160991,...,39.327233,20.770249,18.098238,31.866907,31.976168,2.672011,0.109262,-2.275427,-4.649933,0
15,0.029498,0.090239,0.114809,0.010266,0.048227,0.000000,0.021480,0.006391,0.005759,0.145934,...,39.307433,20.770249,18.098238,31.866907,31.976168,2.672011,0.109262,-2.789297,-4.660909,0
16,0.058151,0.065594,0.146958,0.035237,0.137241,0.000000,0.042334,0.195184,0.012382,0.030252,...,38.829617,21.672687,20.898370,31.659080,32.054620,0.774317,0.395540,-2.082178,-2.391869,0
17,0.031922,0.031439,0.068188,0.089783,0.105019,0.000000,0.154973,0.079466,0.023687,0.035173,...,38.746400,21.550987,19.116611,31.871486,32.240267,2.434377,0.368781,-0.999782,-1.789208,2
18,0.089165,0.070772,0.042613,0.038124,0.028175,0.000000,0.097331,0.048168,0.026989,0.078556,...,38.913567,21.909454,21.547584,31.243556,31.299815,0.361870,0.056259,0.045199,-6.434415,3
19,0.085654,0.011568,0.084430,0.040627,0.047726,0.000000,0.121621,0.109096,0.011606,0.128405,...,38.893433,21.553500,19.147653,31.689536,31.834604,2.405848,0.145068,-0.972249,-2.246483,2
20,0.053971,0.067069,0.087203,0.123386,0.055184,0.000000,0.274812,0.066937,0.007379,0.023981,...,38.751033,22.199548,15.541578,30.710694,32.052754,6.657970,1.342060,0.462327,-0.422382,2
21,0.022907,0.077725,0.025621,0.015880,0.000000,0.000000,0.703179,0.041247,0.045483,0.017148,...,38.914100,22.052166,15.057787,31.538183,32.276213,6.994379,0.738030,2.260853,5.763412,1
22,0.045997,0.020181,0.109815,0.103132,0.017167,0.000000,0.303499,0.082951,0.000000,0.108374,...,38.930233,21.763807,17.998832,31.575570,31.871129,3.764975,0.295559,0.720280,0.090355,2
23,0.147357,0.033101,0.074028,0.028071,0.049606,0.000000,0.126987,0.000000,0.006381,0.066560,...,38.954683,21.207851,20.596615,31.790128,31.808032,0.611236,0.017904,0.076809,-5.802744,3
24,0.020967,0.034878,0.161804,0.012557,0.142219,0.000000,0.053829,0.020391,0.016820,0.147087,...,39.141033,20.492487,18.477310,31.893909,31.978538,2.015177,0.084629,-1.429222,-5.451765,0
25,0.087133,0.044501,0.073490,0.046578,0.173540,0.000000,0.082357,0.020870,0.024877,0.052247,...,39.165833,20.549352,16.286042,31.850125,32.115440,4.263310,0.265314,-2.681511,-3.823663,0
26,0.021997,0.065793,0.030653,0.041255,0.137145,0.000000,0.336827,0.030375,0.014215,0.066587,...,39.357500,22.971803,14.291715,31.494135,32.288327,8.680087,0.794192,1.081514,1.215665,2
27,0.034771,0.052803,0.019055,0.033436,0.046080,0.000000,0.520725,0.025644,0.021994,0.053114,...,39.493350,23.620753,14.631960,31.589262,32.555056,8.988793,0.965794,2.224277,3.848109,1

In [16]:
non_species_columns = [
    'Longitude', 'Latitude', 'Surface_Temp', 'Bottom_Temp',
    'Surface_Salinity', 'Bottom_Salinity', 'temp_strat',
    'salt_strat', 'tSNE1', 'tSNE2', 'cluster'
]

# Identify species columns by excluding non-species columns
species_columns = feb_df.columns.difference(non_species_columns)
cluster_sums = feb_df.groupby('cluster')[species_columns].sum()
def get_top_taxa(cluster_sums, top_n=5):
    top_taxa = {}
    for cluster in cluster_sums.index:
        top_taxa[cluster] = cluster_sums.loc[cluster].nlargest(top_n)
    return top_taxa

# Get top taxa for each cluster
top_taxa_per_cluster = get_top_taxa(cluster_sums)

# Display the top taxa for each cluster
for cluster, taxa in top_taxa_per_cluster.items():
    print(f"Top taxa in cluster {cluster}:\n{taxa}\n")
top_taxa_df = pd.DataFrame.from_dict(top_taxa_per_cluster, orient='index')
top_taxa_df

Top taxa in cluster 0:
Atl_menhaden_LS16_or_river_herrings    3.451931
Windowpane_flounder                    0.728183
Atl_silverside                         0.315599
Atl_mackerel                           0.298696
Summ_flounder                          0.195857
Name: 0, dtype: float64

Top taxa in cluster 1:
Atl_menhaden_LS16_or_river_herrings    2.753349
Atl_mackerel                           1.989683
Am_butterfish                          1.200205
Windowpane_flounder                    1.142929
Atl_silverside                         1.101501
Name: 1, dtype: float64

Top taxa in cluster 2:
Atl_menhaden_LS16_or_river_herrings    2.906681
Windowpane_flounder                    1.438580
Bay_anchovy                            1.069489
Nor_pipefish                           0.749928
Red_White_or_Spotted_hake              0.701208
Name: 2, dtype: float64

,Atl_menhaden_LS16_or_river_herrings,Windowpane_flounder,Atl_silverside,Atl_mackerel,Summ_flounder,Am_butterfish,Bay_anchovy,Nor_pipefish,Red_White_or_Spotted_hake
0,3.451931,0.728183,0.315599,0.298696,0.195857,NaN,NaN,NaN,NaN
1,2.753349,1.142929,1.101501,1.989683,NaN,1.200205,NaN,NaN,NaN
2,2.906681,1.438580,NaN,NaN,NaN,NaN,1.069489,0.749928,0.701208

In [17]:
non_species_columns = [
    'Longitude', 'Latitude', 'Surface_Temp', 'Bottom_Temp',
    'Surface_Salinity', 'Bottom_Salinity', 'temp_strat',
    'salt_strat', 'tSNE1', 'tSNE2', 'cluster'
]

# Identify species columns by excluding non-species columns
species_columns = aug_df.columns.difference(non_species_columns)
cluster_sums = aug_df.groupby('cluster')[species_columns].sum()
def get_top_taxa(cluster_sums, top_n=5):
    top_taxa = {}
    for cluster in cluster_sums.index:
        top_taxa[cluster] = cluster_sums.loc[cluster].nlargest(top_n)
    return top_taxa

# Get top taxa for each cluster
top_taxa_per_cluster = get_top_taxa(cluster_sums)

# Display the top taxa for each cluster
for cluster, taxa in top_taxa_per_cluster.items():
    print(f"Top taxa in cluster {cluster}:\n{taxa}\n")
top_taxa_df = pd.DataFrame.from_dict(top_taxa_per_cluster, orient='index')
top_taxa_df

Top taxa in cluster 0:
Black_drum_or_Spot            0.639336
Brd_striped_anchovy           0.629161
Southern_kingfish(nibea95)    0.536510
Am_butterfish                 0.530088
Weakfish_Cyn                  0.434979
Name: 0, dtype: float64

Top taxa in cluster 1:
Nor_sea_robin            4.508621
Black_sea_bass           0.409392
Atl_croaker_(nibea98)    0.224889
Black_drum_or_Spot       0.220329
Windowpane_flounder      0.210313
Name: 1, dtype: float64

Top taxa in cluster 2:
Nor_sea_robin            2.424480
Black_drum_or_Spot       1.297838
Atl_croaker_(nibea98)    1.287620
Windowpane_flounder      0.831016
Scup                     0.811672
Name: 2, dtype: float64

Top taxa in cluster 3:
Atl_menhaden_LS16_or_river_herrings    0.932938
Atl_croaker_(nibea98)                  0.517841
Nor_sea_robin                          0.387617
Bay_anchovy                            0.306755
Black_drum_or_Spot                     0.268236
Name: 3, dtype: float64

,Black_drum_or_Spot,Brd_striped_anchovy,Southern_kingfish(nibea95),Am_butterfish,Weakfish_Cyn,Nor_sea_robin,Black_sea_bass,Atl_croaker_(nibea98),Windowpane_flounder,Scup,Atl_menhaden_LS16_or_river_herrings,Bay_anchovy
0,0.639336,0.629161,0.53651,0.530088,0.434979,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.220329,NaN,NaN,NaN,NaN,4.508621,0.409392,0.224889,0.210313,NaN,NaN,NaN
2,1.297838,NaN,NaN,NaN,NaN,2.424480,NaN,1.287620,0.831016,0.811672,NaN,NaN
3,0.268236,NaN,NaN,NaN,NaN,0.387617,NaN,0.517841,NaN,NaN,0.932938,0.306755