In [15]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('2024-02_data_all_exo.csv')
df

,Unnamed: 0,date,GPS.Latitude..,GPS.Longitude..,station,Depth.m,Sal.psu,Temp..C,pH,ODO.mg.L,Turbidity.FNU,Chlorophyll.RFU
0,1,2024-02-08 12:29:06,39.104352,-74.207144,5,1.729200,0.060000,7.572200,7.864000,10.620000,2.534000,0.590000
1,2,2024-02-08 12:29:06,39.104351,-74.207212,5,3.496442,0.037209,7.561279,7.868837,10.517209,1.112093,0.504651
2,3,2024-02-08 12:29:06,39.104365,-74.207118,5,5.067818,0.051818,7.261909,7.862727,10.731818,-0.356364,0.691818
3,4,2024-02-08 12:29:06,39.104370,-74.207156,5,6.862545,0.042727,7.284636,7.865455,10.699091,-0.331818,0.681818
4,5,2024-02-08 12:29:06,39.104370,-74.207160,5,9.049000,0.044167,7.279500,7.865833,10.700000,-0.331667,0.705000
...,...,...,...,...,...,...,...,...,...,...,...,...
535,536,2024-02-08 11:58:09,39.067183,-74.317550,53,15.294083,0.075000,6.955167,7.871667,10.785000,-0.283333,0.923333
536,537,2024-02-08 11:58:09,39.067180,-74.317493,53,17.216083,0.090833,7.064750,7.857500,10.778333,-0.262500,0.921667
537,538,2024-02-08 11:58:09,39.067180,-74.317520,53,19.147750,0.115625,7.035625,7.863125,10.811875,-0.174375,0.951875
538,539,2024-02-08 11:58:09,39.067184,-74.317514,53,20.880125,0.123750,7.062500,7.861250,10.826250,0.167500,0.943750
539,540,2024-02-08 11:58:09,39.067188,-74.317521,53,22.751929,0.120000,7.063643,7.862143,10.833571,0.762143,0.939286

In [18]:
s5 = df[df['station']==5]

# sns.relplot(data = s5,
#             x='Depth.m',
#             y='Temp..C')
s5

,Unnamed: 0,date,GPS.Latitude..,GPS.Longitude..,station,Depth.m,Sal.psu,Temp..C,pH,ODO.mg.L,Turbidity.FNU,Chlorophyll.RFU
0,1,2024-02-08 12:29:06,39.104352,-74.207144,5,1.729200,0.060000,7.572200,7.864000,10.620000,2.534000,0.590000
1,2,2024-02-08 12:29:06,39.104351,-74.207212,5,3.496442,0.037209,7.561279,7.868837,10.517209,1.112093,0.504651
2,3,2024-02-08 12:29:06,39.104365,-74.207118,5,5.067818,0.051818,7.261909,7.862727,10.731818,-0.356364,0.691818
3,4,2024-02-08 12:29:06,39.104370,-74.207156,5,6.862545,0.042727,7.284636,7.865455,10.699091,-0.331818,0.681818
4,5,2024-02-08 12:29:06,39.104370,-74.207160,5,9.049000,0.044167,7.279500,7.865833,10.700000,-0.331667,0.705000
5,6,2024-02-08 12:29:06,39.104370,-74.207156,5,10.937333,0.076667,7.272667,7.862222,10.703333,-0.338889,0.797778
6,7,2024-02-08 12:29:06,39.104372,-74.207129,5,12.795294,0.050588,7.276588,7.857059,10.714706,-0.348235,0.930000
7,8,2024-02-08 12:29:06,39.104372,-74.207132,5,15.011500,0.065000,7.290100,7.856000,10.707000,-0.359000,0.996000
8,9,2024-02-08 12:29:06,39.104375,-74.207165,5,17.068909,0.043636,7.266364,7.864545,10.705455,-0.369091,0.947273
9,10,2024-02-08 12:29:06,39.104372,-74.207122,5,19.106400,0.077000,7.305500,7.854000,10.702000,-0.361000,1.116000
10,11,2024-02-08 12:29:06,39.104375,-74.207147,5,21.325286,0.040714,7.290571,7.857143,10.710714,-0.341429,1.047857
11,12,2024-02-08 12:29:06,39.104374,-74.207143,5,23.044000,0.040000,7.304000,7.853750,10.706250,-0.302500,1.066250
12,13,2024-02-08 12:29:06,39.104375,-74.207149,5,25.331000,0.066154,7.305231,7.854615,10.708462,0.076154,1.023846
13,14,2024-02-08 12:29:06,39.104374,-74.207147,5,26.939000,0.080833,7.315833,7.854167,10.708333,0.878333,0.998333
14,15,2024-02-08 12:29:06,39.104376,-74.207140,5,28.448300,0.037500,7.327800,7.852500,10.701000,2.079500,1.057500